 <!-- Footer -->
        <footer class="login-page-footer">
            <div class="container12">
                <div class="column12">
                      <nav>       
                        <a href="/home/terms">Terms</a> |
                        <a href="mailto:schoolapp@dsiginc.com">Contact</a>
                      </nav>
                      <div class="copyright">©  DSIG Inc. All Rights Reserved.</div>
                </div>
            </div>      
        </footer>
         <!-- / Footer -->