
<!-- Nav bar-->
    
    <%= render 'home/navbar' %>
      
      <!-- / Nav bar-->

      <div class="div-terms">
      	<h2> Terms of Use </h2>

	      	<p> Welcome to SchoolJuntos!  We are excited that you will be using our products.  We have taken great care to build something that brings value to schools, teachers, students, and families. Please read on to learn about the rules and restrictions that govern the use of our products, services and applications (the “Services”).  If you have any questions, comments, or concerns regarding these terms or the Services, please contact us at schoolapp@dsiginc.com.
	      	</p>
	      	
	      	<p>	
			These product is registered to Data Systems Integration Group Inc, terms of Use (the “Terms”) are a binding contract between you and DSIG, Inc. You must agree to and accept all of the Terms, or you don’t have the right to use the Services.  Your using the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services.  These Terms include the provisions in this document, as well as those in the Privacy Policy.
			</p>


		<h2> What Information is collected </h2>

			<p> We receive and store any information you knowingly provide to us.  For example, through the registration process and/or through your account settings, we may collect Personal Information such as your name, email address, phone number. </p>

		<h2> Security of Information </h2>

			<p> We do not rent or sell your Personal Information in personally identifiable form to anyone. Also all the passwords stored in database are encrypted. We endeavor to protect the privacy of your account and other Personal Information we hold in our records, but unfortunately, we cannot guarantee complete security.  Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.</p>

		<h2> Content on the Services </h2>

			<p> All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
		</p>	

			<p>
			We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Data Systems Integration Group Inc be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
			</p>	

		<h2> Updating Your Personal Information </h2>

		<p> You can always contact us in order to delete your Personal Information from our systems and update the Personal Information that you have provided to us by e-mailing us at schoolapp@dsiginc.com. </p>

		<h2> Contact </h2>

		<p> These Services are operated and provided by Data Systems Integration Group Inc, which is located at: 5131 Post Rd, Dublin, Ohio 43017. If you have any questions about these Terms, please contact us.</p>

      </div>


      <!-- Footer -->
        <%= render 'home/footer' %>
        <!-- / Footer -->