<div class="page-breadcrumbs">
  <h> <a href="/school_users/schoolUserHomeView"> Home </a> / <a href="<%= url_for(:back) %>"> <%= @classname %>  </a> / Add Student </h>
</div>

<%= render 'form' %>

<!-- <%= link_to 'Back', parents_path %> -->
