
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />             
                </div>
                
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                
                <% if session[:role_type] == "Admin"%>   
                    <li >
                        <a href="/activities/new">
                        <i class="menu-icon glyphicon glyphicon-home"></i>
                        <span class="menu-text"> Home </span></a>
                    </li>

                    <!-- <li >
                        <a href="/school_users/new">
                        <i class="menu-icon glyphicon glyphicon-pencil"></i>
                        <span class="menu-text"> Add Teacher </span></a>
                    </li> -->

                    <li >
                        <a href="/school_users">
                        <i class="menu-icon glyphicon glyphicon-th-list"></i>
                        <span class="menu-text"> Manage Teachers </span></a>
                    </li>
                  
                    <li >
                        <a href="/classrooms">
                        <i class="menu-icon glyphicon glyphicon-th-list"></i>
                        <span class="menu-text"> Manage Classes </span></a>
                    </li>
                     <li class="dropdown">
                        <a href="/events">
                        <i class="menu-icon glyphicon glyphicon-calendar"></i>
                        <span class="menu-text"> UpComing Events </span></a>
                    </li>

                    <% elsif session[:role_type] == "Teacher"
                        %>
                
                    <li class="dropdown">
                        <a href="/school_users/schoolUserHomeView">
                        <i class="menu-icon glyphicon glyphicon-home"></i>
                        <span class="menu-text"> Home </span></a>
                    </li>
                     <li class="dropdown">
                        <a href="/events">
                        <i class="menu-icon glyphicon glyphicon-calendar"></i>
                        <span class="menu-text"> UpComing Events </span></a>
                    </li>


                    <% elsif session[:role_type] == "Parent"
                        %>
                    
                    
                    <li>
                        <a href="/school_users/schoolUserHomeView">
                        <i class="menu-icon glyphicon glyphicon-pencil"></i>
                        <span class="menu-text"> Home </span></a>
                    </li>
              
                        <%end%>
                    
                </ul>
                <!-- /Sidebar Menu -->



