
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    
                    
                </div>
                
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                
                    
                    <li >

                        <a href="/school_users/schoolUserHomeView">
                            <i class="menu-icon glyphicon glyphicon-th-list"></i>
                            <span class="menu-text"> Home </span></a>
                    </li>
                   
                    
                </ul>
                <!-- /Sidebar Menu -->
